<%= form_with(model: chapter) do |form| %>
  <% if chapter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chapter.errors.count, "error") %> prohibited this chapter from being saved:</h2>

      <ul>
        <% chapter.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :issue_id %>
    <%= form.collection_select(:issue_id, Issue.all,:id, :number) %>
  </div>

  <div class="field">
    <%= form.label :driver_id %>
    <%= form.collection_select(:driver_id, Driver.all,:id, :first_name) %>
  </div>

  <div class="field">
    <%= form.label :clothing_id %>
    <%= form.collection_select(:clothing_id, Clothing.where(type_id:1),:id, :name) %>
  </div>

  <div class="form-group"> <br>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
